@media (min-width: 1200px) {
  .mainLayout .mainContentContainer {
    margin-top: var(--header-height-xxl);
 }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mainLayout .mainContentContainer {
    margin-top: var(--header-height-xl);
 }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mainLayout .mainContentContainer {
    margin-top: var(--header-height-lg);
 }
}
@media (max-width: 767px) {
  .mainLayout .mainContentContainer {
    margin-top: var(--header-height-sm-xs);
 }
}
