.mainLayout {
  .mainContentContainer {
    // header margin
    @media (min-width: 1200px) {
      margin-top: var(--header-height-xxl);
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: var(--header-height-xl);
    }
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: var(--header-height-lg);
    }
    @media (max-width: 767px) {
      margin-top: var(--header-height-sm-xs);
    }
  }
}
