.footer {
  background-color: #222527;
  color: white;
}
.footer .footerLine {
  background-color: white;
  opacity: 0.6;
  height: 1.3px;
  width: 30px;
}
.footer .social {
  filter: invert(1);
  opacity: 0.45;
}
.footer .social:hover {
  opacity: 9;
}
.footer .greytext {
  opacity: 0.6;
}
.footer .links a {
  opacity: 0.6;
}
.footer .links a:hover {
  opacity: 1;
}
.footer .pages > * {
  margin-top: 6px;
  margin-bottom: 6px;
}
